/* * {
    box-sizing: border-box;
}

header {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: #fff;
}

nav ul li {
    display: inline-block;
    padding: 50px;
    color: gray;
}

nav {
    background-color:  #333;;
}

nav ul li:first-child {
    padding:20px;
}

section {
    margin: 20px;
    margin-left: 200px;
}

.threeimg {
    margin: 20px;
    margin-left: 200px;
    
}

.lastpic {

    float: left;
    
}


footer {
    height: 100px;
    background-color: #333;
}
 */

 * {
    box-sizing: border-box;
}

header {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: #fff;
}

nav ul li {
    display: inline-block;
    padding: 50px;
    color: gray;
}

nav {
    background-color:  #333;;
}

nav ul li:first-child {
    padding:20px;
}

section {
    margin: 20px;
    margin-left: 200px;
}

.threeimgs {
    margin: 20px;
    margin-left: 200px;
    
}
 .lastpic img {
     margin-left: 200px;
     float: left;
 }

button{
    margin-left: 50px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: blue;
    color: white;
  }
/* 
p{
    margin-left: 50px;
} */

footer {
    background-color: #333;
    text-align: center;
}